<ion-grid>
  <ion-row>
    <ion-col>
      <ion-label class="descricao ion-text-wrap">
        <h3>{{ item.nome }}</h3>
        <p>{{ item.descricao }}</p>
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label class="valor">
        <p>
          R$ {{ item.valorMedio | number:'0.2-2'}}<br>
          <small>(valor médio por {{ item.unidade.sigla }})</small>
        </p>
      </ion-label>
    </ion-col>
    <ion-col size="auto" class="ion-align-self-end">
      <form [formGroup]="form">

        <div class="qtda">
          <ion-button class="qtda-btn" (click)="decrementa(item)">
            <ion-icon name="remove" color="secondary"></ion-icon>
          </ion-button>
          <ion-input type="number" class="ion-text-center" #qtda formControlName="qtda"></ion-input>
          <ion-button class="qtda-btn" (click)="incrementa(item)">
            <ion-icon name="add" color="secondary"></ion-icon>
          </ion-button>
        </div>

      </form>
    </ion-col>

    <ion-col size="auto" *ngIf="mostrarOpcoes">
      <ion-button fill="clear" class="opcoes" (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-col>

  </ion-row>
</ion-grid>