<ion-content class="ion-padding">

  <div *ngIf="lista">

    <ion-item-divider>
      <ion-label>
        {{ lista.categoria.nome }}
      </ion-label>
      <ion-badge slot="end" *ngIf="lista" color="secondary">{{ qtdaItens }}</ion-badge>

    </ion-item-divider>

    <app-lista-item *ngIf="lista" [itens]="lista.itens" [mostrarOpcoes]="true" (remove)="removeItem($event)">
    </app-lista-item>
  </div>

</ion-content>

<ion-footer no-border>
  <div class="ion-padding-horizontal ion-padding-bottom">
    <ion-button expand="block" [routerLink]="['revisao']">Finalizar</ion-button>
  </div>

  <ion-item lines="none" *ngIf="lista?.anexos?.length" color="gray">
    <app-anexos (abrirAnexo)="abrirAnexo($event)" [anexos]="lista.anexos"></app-anexos>
  </ion-item>

  <app-input-item (adicionarTexto)="adicionaItem($event)" (adicionarImagem)="adicionarImagem($event)"></app-input-item>

</ion-footer>