<ion-app>

  <ion-header *ngIf="header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{ header }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet [ngClass]="header ? 'margin-header' : ''"></ion-router-outlet>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="exibeBotaoChat">
    <ion-fab-button (click)="chat()">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-app>