<ion-list>

  <!-- <ion-item-sliding *ngFor="let item of itens"> -->


  <ion-item lines="none" *ngFor="let item of itens" color="gray">
    <ion-label>
      <h3>{{ item.nome }}</h3>
    </ion-label>

    <ion-button slot="end" icon-only color="danger" fill="clear" (click)="removeItem(item)" *ngIf="mostrarOpcoes">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- <ion-checkbox slot="start"></ion-checkbox> -->
  <!-- <ion-item-options side="end">
      <ion-item-option color="danger" (click)="removeItem(item)">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options> -->

  <!-- </ion-item-sliding> -->
</ion-list>