ion-card ion-label.floating {
    position: absolute;
    color: white;
}

ion-card {
    img {
        width: 100%;
        height: 80px;
        object-fit: cover;
    }

    ion-card-header {
        padding-bottom: 8px;
        line-height: initial;
        
        .ion-text-wrap {
            text-overflow: ellipsis;
            white-space: nowrap !important;
            overflow: hidden;
        }        
    }

    ion-card-content {
        font-size: 12px;
    }
} 