<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="pesquisa">
      <ion-icon name="search"></ion-icon>
      <ion-label>Pesquisa</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="listas">
      <ion-icon name="document"></ion-icon>
      <ion-label>Orçamentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
